@import url('https://fonts.googleapis.com/css2?family=Braah+One&family=Quicksand:wght@300;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import './components/components';
@import './layout/layout';

h1 {
    font-family: 'Braah One', sans-serif;

    @apply text-4xl mb-6 text-green;
}

body {
    font-family: 'Quicksand', sans-serif;

    font-weight: 500;
}

.capitalise::first-letter {
    @apply uppercase;
}